[submodule "VDV301DataStructures"]
	path = VDV301DataStructures
	url = https://github.com/frutabruta/VDV301DataStructures
[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/HelloOO7/QtZeroConf
